<!DOCTYPE html>
<html lang="en">
<head>
	<title>Student Homepage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<div class="jumbotron text-center">
    	<h1 id="header" class="display-4">Answer Submitted</h1>
    	<p id="uhhh" class="lead">Your answer was: 1</p>
  	</div>
  	<div class="container">
  		<div
  	</div>
</body>