<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Module Video</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/bootstrap.css">
	</head>
	<body>
		<div class="jumbotron text-center">
	    	<h1 class="display-4">Module Title</h1>
	    </div>
	    <div class="container">
	    	<div class="row">
	    		<div class="col-9">
	    			<div align="center" class="embed-responsive embed-responsive-16by9">
	    				<video autoplay class="embed-responsive-item">
	    					<source src="https://www.youtube.com/watch?v=2MpUj-Aua48" type="video/mp4">
	    				</video>
	    			</div>
	    		</div>
	    		<div class="col-3">
	    			<input class="form-control-plaintext" type="text" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec imperdiet dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In facilisis dolor eget mollis vehicula. Maecenas tempor pretium arcu non varius. Duis lacus leo, commodo in tortor non, imperdiet consectetur nisl. Proin fermentum orci quis diam blandit blandit. In dapibus nisi ut diam venenatis, non lacinia ante fermentum. Suspendisse vel molestie nisl. Sed dapibus quis orci eget eleifend. Curabitur magna sem, mollis nec convallis eget, commodo at metus." readonly></input>
	    			<a class="btn btn-danger" href="StudentHomepage.php" role="button">Back</a>
	    			<a class="btn btn-primary" href="IndividualTestPage.html" role="button">Test</a>
	    		</div>
	    	</div>
	    </div>
	</body>
</html>