<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Messaging - Teachers</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/bootstrap.css">
	</head>
	<body>
		<div class="jumbotron text-center">
				<h1 class="display-4">Messages</h1>
		</div>
		<div class="container">
			<ul class="list-group">
		    	<button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"> STUDENT 1 
		    	<span class="badge badge-primary badge-pill">12</span>
		    	</button>
		    	<button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"> STUDENT 2
		    	<span class="badge badge-primary badge-pill">12</span>
		    	</button>
		 		<button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"> STUDENT 3 
		    	<span class="badge badge-primary badge-pill">12</span>
		    	</button>
		   		<button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"> STUDENT 4
		    	<span class="badge badge-primary badge-pill">12</span>
		       	</button>
		    	<button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"> STUDENT 5
		    	<span class="badge badge-primary badge-pill">12</span>
		    	</button>
		    </ul>
		</div>
	</body>
</html>