<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Student Overview</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/bootstrap.css">
	</head>
	<body>
		<div class="jumbotron text-center">
			<h1 class="display-4"> STUDENT </h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col">
					<h2>Messages</h2>
				</div>
				<div class="col">
					<h2>Progress</h2>
					<div class="list-group">
						<li class="list-group-item list-group-item-success">MODULE 1</li>
						<li class="list-group-item list-group-item-success">MODULE 2</li>
						<li class="list-group-item list-group-item-warning">MODULE 3</li>
						<li class="list-group-item list-group-item-danger">MODULE 4</li>
		    		</div>
				</div>
			</div>
		</div>
	</body>
</html>